<nav class="bg-green-600 text-white px-10 py-4 flex justify-between items-center shadow">

<div class="text-2xl font-bold">
PlasticPath
</div>

<div class="space-x-6 text-lg">

<a href="/dashboard" class="hover:underline">Dashboard</a>
<a href="/logout" class="hover:underline">Logout</a>

</div>

</nav>