<!DOCTYPE html>
<html>

<head>
<title>Report Plastic</title>
<script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-gray-100">

<%- include('partials/navbar') %>

<div class="max-w-xl mx-auto mt-20 bg-white p-10 rounded-xl shadow">

<h2 class="text-3xl font-bold mb-8 text-center">
Report Plastic Availability
</h2>

<form action="/report" method="POST" class="space-y-6">

<input name="village"
placeholder="Village Name"
class="border p-3 w-full rounded">

<input type="number"
name="quantity"
placeholder="Plastic Quantity (kg)"
class="border p-3 w-full rounded">

<button
class="bg-green-600 hover:bg-green-700 text-white w-full p-3 rounded-lg">
Submit Report
</button>

</form>

</div>

</body>
</html>